alabaster
# apturl
babel
bcrypt
blinker
brlapi
cached-property
certifi
chardet
click
colorama
command-not-found
crit
cryptography
cupshelpers
dblatex
dbus-python
defer
distro-info
django
docker-compose
docutils
duplicity
entrypoints
fasteners
future
gunicorn
idna
imagesize
jinja2
kazam
language-selector
launchpadlib
libvirt-python
lockfile
louis
macaroonbakery
mako
markupsafe
matplotlib
monotonic
more-itertools
netifaces
oauthlib
olefile
packaging
pandas
paramiko
pexpect
pip-chill
pipreqs
prettytable
protobuf
pycups
pygments
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
python-apt
python-debian
python-xlib
pyxdg
reportlab
requests-html
requests-unixsocket
roman
screen-resolution-extra
simplejson
sphinx
ssh-import-id
systemd-python
tabulate
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
usb-creator
whitenoise
xkit
